<div class="container d-flex flex-column justify-content-center align-items-center mt-5">

<h1>Edit Project</h1>
<%= form_with model: @project, url: project_path(@project), method: :patch do |form| %>
  <p>
    <%= form.label :name %><br>
    <%= form.text_field :name, class: "form-control"%>
  </p>
  <p>
    <%= form.label :description %><br>
    <%= form.text_area :description, class: "form-control"%>
  </p>
  <p> 
  <%= form.label :qa_users, "Assign QA(s)" %><br>
  <%= form.collection_select :qa_ids, User.where(user_type: :qa), :id, :name, { selected: @project.users.where(user_type: :qa).pluck(:id) }, multiple: true, class: "form-control" %>
</p> 

<p>
  <%= form.label :developer_users, "Assign Developer(s)" %><br>
  <%= form.collection_select :developer_ids, User.where(user_type: :developer), :id, :name, { selected: @project.users.where(user_type: :developer).pluck(:id) }, multiple: true , class: "form-control"%>
</p>

  <p>
    <%= form.submit "Update Project", class: "btn btn-primary"  %>
  </p>
<% end %>

</div>