<div class="container d-flex flex-column justify-content-center align-items-center mt-5">
  <h1 class="mb-4">Projects</h1>

  <% if current_user.manager? %>
    <%= link_to "Create New Project", new_project_path, class: "btn btn-success mb-5" %>
  <% end %>

  <table class="table table-borderless w-50">
    <thead class="table-light">
      <tr>
        <th>Project Name</th>
        <th class="text-center">Actions</th>
      </tr>
    </thead>
    <tbody>
      <% @projects.each do |project| %>
        <tr>
          <td>
            <%= link_to project.name, project_path(project), class: "text-decoration-none text-dark" %>
          </td>
          <td class="d-flex gap-2 justify-content-center">
            <%= link_to "Show", project_path(project), class: "btn btn-primary btn-sm" %>
            <% if current_user.manager? %>
              <%= link_to "Edit", edit_project_path(project), class: "btn btn-info btn-sm" %>
            <% end %>
            <%= link_to "Bugs", project_bugs_path(project), class: "btn btn-success btn-sm" %>
            <% if current_user.manager? %>
              <%= button_to "Delete", project_path(project), method: :delete, onclick: "return confirm('Are you sure?');", class: "btn btn-danger btn-sm" %>
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
