<div class="container d-flex flex-column justify-content-center mt-5">
<h1>New Project</h1>

<%= form_with model: @project, url: projects_path, method: :post do |form| %>
  <p>
    <%= form.label :name %><br>
    <%= form.text_field :name, class: "form-control" %>
  </p>
  
  <p>
    <%= form.label :description %><br>
    <%= form.text_area :description, class: "form-control" %>
  </p>

  <p>
  <%= form.label :users, "Assign QA(s)" %><br>
  <%= form.collection_select :user_ids, User.where(user_type: :qa), :id, :name, {}, multiple: true, class: "form-control" %>
  </p>

  <p>
  <%= form.label :users, "Assign Developer(s)" %><br>
  <%= form.collection_select :user_ids, User.where(user_type: :developer), :id, :name, {}, multiple: true, class: "form-control" %>
  </p>


  <p>
    <%= form.submit "Create Project", class: "btn btn-primary btn-sm" %>
  </p>
<% end %>

<%= link_to "Back to Projects", projects_path, class: "btn btn-success btn-sm" %>
</div>