<h1>New Project</h1>
<%= form_with model: @project, url: projects_path, method: :post do |form| %>
  <p>
    <%= form.label :name %><br>
    <%= form.text_field :name %>
  </p>
  <p>
    <%= form.label :description %><br>
    <%= form.text_area :description %>
  </p>
  <p>
    <%= form.submit "Create Project" %>
  </p>
<% end %>