<div class="container d-flex flex-column justify-content-center align-items-center mt-5">
<h1 class= "text-info">Title : <%= @project.name %></h1>
<p>Description : <%= @project.description %></p>

<h3>Assigned Developers</h3>
<ul>
  <% @project.users.where(user_type: 'developer').each do |developer| %>
    <li><%= developer.name %> (<%= developer.email %>)</li>
  <% end %>
</ul>

<h3>Assigned QA</h3>
<ul>
  <% @project.users.where(user_type: 'qa').each do |qa| %>
    <li><%= qa.name %> (<%= qa.email %>)</li>
  <% end %>
</ul>

<%= link_to "Bugs", project_bugs_path(@project), class: "btn btn-success btn-sm mt-5"  %>  
<br>
<%= link_to "Back to Projects", projects_path, class: "btn btn-success btn-sm"  %>

</div>

