<div class="container d-flex flex-column justify-content-center align-items-center mt-5">

  <h1 class="text-info">Bugs for Project: <%= @project.name %></h1>

  <% if current_user.manager? || current_user.qa? %>
    <%= link_to "New Bug", new_project_bug_path(@project), class: "btn btn-success mb-5" %>
  <% end %>

  <table class="table table-borderless w-100">
    <thead class="table-light">
      <tr>
        <th>Title</th>
        <th>Status</th>
        <th>Type</th>
        <th class="text-center">Actions</th>
      </tr>
    </thead>
    <tbody>
      <% @bugs.each do |bug| %>
        <tr>
          <td><strong><%= bug.title %></strong></td>
          <td><%= bug.feature_request? ? Bug::FEATURE_STATUSES.key(bug.status) : Bug::BUG_STATUSES.key(bug.status) %></td>
          <td><%= bug.bug_type %></td>
          <td class="d-flex gap-2 justify-content-center">
            <%= link_to "View", project_bug_path(@project, bug), class: "btn btn-success btn-sm" %> 
            <%= link_to "Edit", edit_project_bug_path(@project, bug), class: "btn btn-warning btn-sm" %>
            <% if current_user.manager? || current_user.qa? %>
              <%= button_to "Delete", delete_project_bug_path(@project, bug), method: :delete, onclick: "return confirm('Are you sure?');", disabled: !current_user.manager? && !current_user.qa?, class: "btn btn-danger btn-sm" %>
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <%= link_to "Back to Projects", projects_path, class: "btn btn-success btn-sm" %>

</div>
