<div class="container d-flex flex-column justify-content-center align-items-center mt-5">

<h1><%= @bug.title %></h1>
<p><strong>Description:</strong> <%= @bug.description %></p>
<p><strong>Status:</strong> 
  <%= if @bug.feature_request?
        Bug::FEATURE_STATUSES.key(@bug.status).to_s.humanize
      else
        Bug::BUG_STATUSES.key(@bug.status).to_s.humanize
      end
  %>
</p>

<p><strong>Bug Type:</strong> <%= @bug.bug_type %></p>
<p><strong>Assigned Developer:</strong> <%= @bug.developer&.name || "Unassigned" %></p>
<p><strong>Deadline:</strong> <%= @bug.deadline %></p>

<% if @bug.screenshot.present? %>
  <p><strong>Screenshot:</strong></p>
  <%= image_tag @bug.screenshot.url, alt: "Bug Screenshot", width: "300" %>
<% else %>
  <p>No screenshot uploaded.</p>
<% end %>

<%= link_to "Edit Bug", edit_project_bug_path(@project, @bug), class: "btn btn-success btn-sm mt-5" %>
<%= link_to "Back to Bugs", project_bugs_path(@project), class: "btn btn-success btn-sm mt-2" %>

</div>