<!DOCTYPE html>
<html>
  <head>
    <title>BugTracker</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>

    <%= render "shared/show_error_messages" %> 

    <% if current_user %>
      <p>Welcome, <%= current_user.name %> | <%= button_to "Logout", logout_path, method: :delete, class: "btn btn-danger" %></p>
      <% else %>
     <p>Please Create an account to continue.</p>
    <% end %>

    <%= yield %> 

  </body>
</html>
